.img{
    width: 10px;
}
.cadr{
    width: 500px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
  }
  
  .row > * {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0 10px;
  }
  