/*=============== FOOTER ===============*/
.footer {
    position: relative;
    overflow: hidden;
  }
  
  .footer__img-one,
  .footer__img-two {
    position: absolute;
    transition: .3s;
  }
  
 
  
  .footer__img-one:hover,
  .footer__img-two:hover {
    transform: translateY(-.5rem);
  }
  
  .footer__container {
    row-gap: 2rem;
  }
  
  .footer__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-left: 125px;
    margin-top: 20px;
  }
  
  .footer__logo:hover {
    color: #6ea8bf;
  }
  
  .footer__logo-img {
    width: 20px;
  }
  
  .footer__description {
    margin-bottom: var(--mb-2-5);
  }
  
  .footer__social {
    display: flex;
    column-gap: .75rem;
    margin-left: 150px;
    color: #fff;
  }
  
  .footer__social-link {
    display: inline-flex;
    background: var(--container-color);
    padding: .45rem;
    border-radius: .25rem;
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
  }
  
  .footer__social-link:hover {
    background: #fff;
  
  }
  
  .footer__title {
    font-size: 17px;
    margin-bottom: var(--mb-1);
  }
  
  .footer__links {
    display: grid;
    row-gap: .35rem;
  }
  
  .footer__link {
    font-size: var(--small-font-size);
    color: white;
    transition: .3s;
  }
  
  .footer__link:hover {
    color: var(--title-color);
  }
  
  .footer__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
  }
  