#header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
        url('../assets/img/photo-1533908279087-2448f4554f18.avif') center/cover no-repeat;
        border-style: none;
  }
#cardLogin {
    background: var(--surface-card);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 4px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 35%;
    width: 400px;
    height: 350px;
    text-align: justify;
    background-color: white;
    font-family:system-ui;
  }
  #pIniciar {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
  }
#inputLogin{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 5px;
    margin-left: 45px;
}
#btnLogin{
    background-color: rgb(0, 0, 0);
    border-color: black;
    opacity: 75%;
    margin-left: 100px;
    margin-top: 10px;
}