
.navbar{
    padding: 3rem 0;
    width: 100%;
    position: sticky;
    top: 0; /* Define la posición en la que se volverá fijo */
    z-index: 100; 

}
.icon_digital {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
	background: url(../assets/img/connection.png);
	background-size: cover; 
}
.navbar-collapse{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--dark-color);
    height: 100%;
    padding: 7rem 0 0 3rem;
    transform: translateX(100%);
    transition: var(--transition);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.show-navbar-collapse{
    transform: translateX(0);
}
.navbar-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.nav-item{
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-link{
    position: relative;
    background-color: black;
}
.nav-link::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: var(--transition);
    
}
.nav-link:hover::after{
    opacity: 1;
}

    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-link{
        font-size: 1rem;
        font-weight: 500;
        transition: var(--transition);
    }

    .nav-link::after{
        display: none;
    }

